---
import PriceChecker from '../components/PriceChecker.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor de Precio de Amazon</title>
  </head>
  <body>
    <h1>Monitor de Precio de Amazon</h1>
    <PriceChecker client:load />
  </body>
</html>
